@page
@model FAPWeb_Se1705.Pages.TimeTable.AddModel
@{
}

<form method="post">
    Course:
    <select name="CourseCode">
        @foreach (Course course in Model.Courses)
        {
            <option value="@course.CourseCode">@course.CourseCode</option>
        }
    </select> <br />
    Group:
    <select name="GroupName">
        @foreach (Group group in Model.Groups)
        {
            <option value="@group.GroupName">@group.GroupName</option>
        }
    </select> <br />
    InstructorCode
    <select name="InstructorCode">
        @foreach (Instructor instructor in Model.Instructors)
        {
            <option value="@instructor.InstructorCode">@instructor.FirstName @instructor.LastName</option>
        }
    </select> <br />
    Room name:
    <select name="RoomName">
        @foreach (Room room in Model.Rooms)
        {
            <option value="@room.RoomName">@room.RoomName</option>
        }
    </select> <br />
    TimeSlot:
    <input name="TimeSlot" />
    <button type="submit">Add</button>
    <h2>@Model.Message</h2>
</form>